
.title_page {
    height: 300px;
    padding: 30px 0;
    background-image: url(./img/bg_img_danhmucsanpham.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title_page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.title_page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    color: #ffffff;
}

.title_page-big {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.title_page-small {
    margin-top: 10px;
}

.title_page-small a {
    text-decoration: none;
    color: #ffffff;
}

.title_page-small a:hover {
    color: #d51c24;
}



* {
    font-family: Roboto;
}
.wrap {
    margin: 60px;
    max-width: 1080px;
}

.header_title {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 60px;
}

#container {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.container_main {
    display: flex;
}
.link_account {
    margin: 10px 0px;
}
.link_account a {
    font-size: 14px;
    text-decoration: none;
    color:#d51c24;
}

.order_title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

.order_title a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;
    margin-left: 5px;
}

.order_date {
    font-size: 14px;
    color: #333333;
    margin: 10px 0px;
}

table {
    max-width: 710px;
}
table th,
table td {
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 600;
}

table td {
    color: #4e4c4c;
}

.order_details {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.product_name{
    max-width: 335px;
    color: #d51c24;
}


.container_main-right {
    margin-left: 30px;
}

.payment_address {
    margin-top: 45px;
    font-size: 20px;
    font-weight: 600;
}

.payment_status {
    font-size: 14px;
    color: #333333;
    margin: 10px 0px;
}

.payment_user,
.receive_use {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}

.delivery_address {
    font-size: 14px;
    color: #333333;
}

.delivery_address-title {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 600;
}